vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jan 2013 17:46:59 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|22 Jan 2013 17:46:59 -0000
vti_filesize:IR|598
vti_backlinkinfo:VX|invaders/index.html
